/*Estrutura do body*/

body {
    background: #D6DFD0;
    color: #000000;

    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark{
    background:#2C3028;
    transition: 0.3s;
}
/*Fim estrutura do body*/

/*Inicio geral*/
h1{
    font-family: 'Bricolage Grotesque', sans-serif;
}

h4{
    font-family: 'Bricolage Grotesque' , sans-serif;
}

p{
    font-family: 'Bricolage Grotesque' , sans-serif;
}
/*Fim geral*

/*Menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #D6DFD0;
    font-family: 'Bricolage Grotesque' , sans-serif;
    font-weight: 600;
}

.menu {
    list-style: none;
    display: flex;
}

.menu .menu-link {
    margin: 0 45px;
    cursor: pointer;
    font-size: 25px;
}

.menu .menu-link a{
    color:#000000;
}

.menu .menu-link a:hover{
   color: #68B94D;
   transition: 0.3s all;
}
/*Fim menu*/

/*Menu Dark Mode */
body.dark .menu .menu-link a {
    color:#d6d5d5;
}
body.dark .menu .menu-link a:hover {
   color: #68B94D;
   transition: 0.3s all;
}
body.dark nav {
    background-color: #2C3028;
    transition: 0.3s;
}

/*Fim Menu Dark Mode */


/* Botão de troca de tema*/
.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #68B94D;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.2);
}

.label .bola{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transform: transform 0.2s linear;
}

.checkbox:checked + .label .bola {
    transform: translateX(24px);
  }

.fa-moon{
    color: #b32160
}

.fa-sun{
    color: #b32160;
}
/* Fim botão de troca de tema*/

/* Seção Home */
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.home .apresentacao{
    width: 100%;
    height: 100%;
    margin: 100px;
    align-items:flex-start;
}


.home .apresentacao h1{
    font-size: 80px;
}

.home .apresentacao p{
    font-size: 25px;
}

.home h4{
    color: #000000;
    font-size:  40px;
}

.home h1{
    color: #68B94D;
    font-size:  40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home p{
    color: #000000;
    font-size: 15px;
    padding-bottom: 20px;
}

.home .foto{
    width: 100%;
    height: 100%;
    margin: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
}

#foto-tamanho{
    width: 578px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

.home .apresentacao .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #b32160;
    font-size: 25px;
    cursor: pointer;
    margin: 1px 5px;
}

.btn-social button:hover{
    transform: scale(1.05);
}

/* Fim seção Home */

/* Home no dark*/
body.dark .apresentacao h4{
    color: #d6d5d5;
    font-size:  40px;
}

body.dark .apresentacao p{
    color: #d6d5d5;
    font-size:  25px;
}

body.dark .home .foto{
    width: 100%;
    height: 100%;
    margin: 100px;
    text-align: center;
    background-color: #d6d5d5;
    border-radius: 15px;
}
/* Fim Home no dark*/

/* Inicio Histórico */
.historico{
    margin-bottom: 240px;
}
.interface-historico {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.historico .titulo {
    font-size: 80px;
    margin: 0; 
}

.historico .informacoes {
    width: 80%; 
    margin: 0; 
}

.historico .informacoes p{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    margin-top: 15px;
}

.historico .trabalhos{
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.historico .funcoes{
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.historico .cidade {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.historico span{
    color: #68B94D;
    font-family: 'Bricolage Grotesque' , sans-serif;
    font-weight: 700;
}


/* Fim Histórico */

/* Inicio Histórico Dark*/
body.dark .historico .titulo{
    color: #d6d5d5;
}

body.dark .historico .trabalhos{
    background-color: #68B94D;
}

body.dark .historico .funcoes{
    background-color: #68B94D;
}

body.dark .historico .cidade{
    background-color: #68B94D;
}

body.dark .historico span{
    color: #d6d5d5;
}
/* Fim Histórico Dark */

/* Inicio portfólio*/
.portfolio{
    margin-right: 100px;
    margin-left: 100px;
}

.portfolio .titulo{
    width: 100%;
    height: 100%;
    font-size: 80px;
    margin-bottom: 30px;
}

.imagens{
    display: flex;
    justify-content: space-around;
    gap: 80px
}

.img-port{
    width: 100%;
    height: 460px;
    background-color: #b32160;
    background-size: cover;
    transition: 8s;
    border-radius: 20px;
    position: relative;
    margin-bottom: 100px;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01010193;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}
/* Fim portfólio*/


/*Inicio Portfólio Dark*/
body.dark .portfolio .titulo{
    color: #d6d5d5;
}
/*Fim Portfólio Dark*/

